@model ASM_Tools.Models.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="container" style="margin-bottom:50px">
    <h1 style="text-align:center">@Model.employee.LastName</h1>
    <div style=" text-align: center">
        <img src="@Url.Content(Model.employee.DisplayPhotoPath)" style="max-width:80%;height:auto;" />
    </div>

</div>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.salutation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.salutation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.JoinedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.JoinedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.ResumePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.ResumePath)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.employee.team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.team)
        </dd>

        <dt>
            @Html.DisplayNameFor(nodel => Model.Tools)
        </dt>

        <dd>
            @foreach (var item in Model.Tools)
            {
                if (item.Checked)
                {
                    <div>@Html.ActionLink(item.ToolName, "Details", "Tools", new { id = item.Id }, null)</div>
                }
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
