@model ASM_Tools.Models.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.employee.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.salutation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.salutation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.JoinedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.JoinedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.ResumePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.ResumePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.DisplayPhotoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.DisplayPhotoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.team)
        </dd>

        <dt>
            @Html.DisplayNameFor(nodel => Model.Tools)
        </dt>

        <dd>
            @foreach (var item in Model.Tools)
            {
                if (item.Checked)
                {
                    <div>@item.tool.Title</div>
                    <div>@Html.ActionLink(item.tool.Title, "Details", "Tools", new { id = item.tool.ToolID }, null)</div>
                }
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
