@model ASM_Tools.Models.EmployeeViewModel

@{
    ViewBag.Title = "YapD";
}

<h2>YapD</h2>

<div>
    <h4>EmployeeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Tools)
        </dt>

        <dd>
            @foreach(var item in Model.Tools)
            {
                if (item.Checked)
                {
                    <div>
                        @item.ToolName
                    </div>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
